img{
    width: 100%;
}
html::-webkit-scrollbar {
	width: 0.4vw;
	
  }
  html::-webkit-scrollbar-thumb {
	background-color: #daa700e7;
	border-radius: 15px;
  }
  html::-webkit-scrollbar-thumb:hover {
	background-color: rgb(255, 249, 169);
  }
  html::-webkit-scrollbar-track {
	background-color: rgba(255, 249, 190, 0.333) !important;
  }
  html::-webkit-scrollbar-track {
	background-color: rgba(48, 15, 233, 0.333);
  }
  html::-webkit-scrollbar-track:hover {
	background-color: #fff3cd;
  }
body{
    font-family: 'Source Sans Pro', sans-serif;
	scroll-snap-type: y mandatory;
	scroll-snap-align: start;
  	scroll-snap-stop: always;
}
nav {
	position: relative;
	z-index: 99;
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: #FFF;
	padding: 1rem 1.5rem;
}

nav h1 {
	letter-spacing: 5px;
	padding: 0.5rem 1rem;
	padding-right: calc(1rem - 5px);
	border: 3px solid white;
	/* border-radius: 8px; */
}

nav h1:hover {
	color: crimson;
}

.menu {
	display: none;
	align-items: center;
	margin: 0 -1rem;
}

.menu a {
	margin: 0 1rem;
	color: white;
	text-decoration: none;
	transition: 0.3s;
	font-size: large;
	font-family: 'Source Sans Pro', sans-serif;
}

.menu a:hover {
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffc800;
	text-decoration: none;
}

.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	/* display: block; */
	width:100%;
	text-align: right;
	/* height: 2rem; */
}

.hamburger span {
	color: #FFF;
	font-size: 30px;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
.material-icons{
    display: inline-block;
	position: fixed;
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
	right: 0;
    padding: 16px;
    top: 0;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;

	padding-top: 6rem;
	opacity: 0;
	transform: translateX(-100%);
	background-color: #000000f2;
	color: #FFF;
	transition: 0.3s;
}

.mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	display: block;
	padding: 20px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	transition: 0.3s;
}

.mobile-menu a:hover{
	color: #ffc800;
	text-decoration: none;
}
.mobile-menu a:focus{
	color: #ffc800;
	text-decoration: none;
}

@media (min-width: 768px) {
	.nav{
		display: inline-block;
		height: 100px;
	}
	.mobile-menu, .hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}
}
.navbar_menu a:hover{
    color: #c4c4c4;
    text-decoration: none;
}
.slider_section{
    display: inline-block;
    position: relative;
    width: 100%;
    float: left;
}
.inner_slider{
    display: inline-block;
    position: absolute;
    float: left;
    width: 100%;
}
.inner_slider_details{
    display: flex;
    position: absolute;
    width: 100%;
    /* float: left; */
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}
.inner_slider_details, h3 p{
    color: white;
}
.searchbar_slider{
	display: flex;
    position: relative;
    width: 100%;
    padding: 16%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.search_btn{
	width: 100%;
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
}
.search_btn input{
	border: none;
    width: 75%;
    height: 40px;
	position: absolute;
    border-radius: 24px;
	outline: none;
	padding: 14px;
}
.search_btn input::before{
	border:none;
}
.search_btn input::after{
	border:none;
}
.search_icon{
	display: inline-block;
	position: relative;
}

.third_section{
    display: flex;
    position: relative;
    width: 100%;
    background-color: white;
}
.brand_section{
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
}
.inner_brand_section{
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'Source Sans Pro';
}
.inner_brand_section p{
    text-align: justify;
    font-size: 15px;
}
.brand_img_section{
    display: inline-block;
    position: relative;
    width: 100%;
}
.brand_img{
    display: inline-block;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 25px;
}
.inner_brand{
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
}

.inner_brand img{
    display: inline-block;
    position: relative;
    width: 40%;
}
